# Data cleaning for scripts 01_‚åö_StopTimesPerRoute.py and 02_üìç_BusLocator.py

### Download Required Files

Please head over to the following link: [GTFS Dublin Bus Data](https://www.transportforireland.ie/transitData/Data/GTFS_Dublin_Bus.zip).  
This will download the file `GTFS_Dublin_Bus.zip`. After downloading, extract the files.

We will need the following files from the extracted data:

1. `routes.txt`
2. `stops.txt`
3. `stop_times.txt`
4. `trips.txt`

These files will be used to generate the following files required for our app:

1. `Routes.txt`
2. `StopMapLocation.txt`
3. `StopTimesPerTrip.txt`
4. `Towards.txt`

Cleaning routes.txt file for script 01_‚åö_StopTimesPerRoute.py and 02_üìç_BusLocator.py

In [1]:
#Importing required libraries:
import pandas as pd
import os

In [2]:
# Define the relative path to the target directory
output_dir = "../data"

# Ensure the target directory exists
os.makedirs(output_dir, exist_ok=True)

## CleanedRoutes.txt

In [3]:
# Read the routes.txt file
file_path = "routes.txt" 
routes_df = pd.read_csv(file_path)

# Explicitly create a new DataFrame with only the required columns
cleaned_routes = routes_df[["route_id", "route_short_name", "route_long_name"]].copy()

# Create a new column for the concatenated values
cleaned_routes["route_concat"] = cleaned_routes["route_short_name"].astype(str) + ". " + cleaned_routes["route_long_name"]

# Define a custom sorting key function
def custom_sort_key(route_short_name):
    import re
    match = re.match(r'(\d+)([A-Za-z]*)', route_short_name)
    if match:
        num_part = int(match.group(1))
        alpha_part = match.group(2)
        return (num_part, alpha_part or "")
    return (float('inf'), route_short_name)

# Apply the custom sorting
cleaned_routes["sort_key"] = cleaned_routes["route_short_name"].apply(custom_sort_key)
cleaned_routes = cleaned_routes.sort_values(by="sort_key").drop(columns=["sort_key"])
# Reset the index
cleaned_routes = cleaned_routes.reset_index(drop=True)
cleaned_routes

,route_id,route_short_name,route_long_name,route_concat
0,4451_86188,1,Sandymount - O'Connell Street - Santry,1. Sandymount - O'Connell Street - Santry
1,4451_86109,4,Monkstown Avenue - Harristown,4. Monkstown Avenue - Harristown
2,4451_86107,6,Howth Dart Stn - Lower Abbey Street,6. Howth Dart Stn - Lower Abbey Street
3,4451_86151,7,Brides Glen Luas - Mountjoy Square,7. Brides Glen Luas - Mountjoy Square
4,4451_86152,7A,Loughlinstown - Mountjoy Sq,7A. Loughlinstown - Mountjoy Sq
...,...,...,...,...
113,4451_86198,X27,Salesian College - Aghards Rd - UCD,X27. Salesian College - Aghards Rd - UCD
114,4451_86199,X28,Salesian College - Celbridge Main St - UCD,X28. Salesian College - Celbridge Main St - UCD
115,4451_86200,X30,Dodsboro - UCD,X30. Dodsboro - UCD
116,4451_86201,X31,River Forest - Earlsfort Terrace,X31. River Forest - Earlsfort Terrace
117,4451_86202,X32,Leixlip - Earlsfort Terrace,X32. Leixlip - Earlsfort Terrace

In [4]:
# Explicitly create a new DataFrame with only the required columns
cleaned_routes = cleaned_routes[["route_id", "route_short_name", "route_concat"]].copy()

cleaned_routes.rename(columns={"route_short_name": "incoming_bus","route_concat": "route_name"}, inplace=True)

cleaned_routes

       route_id incoming_bus                                       route_name
0    4451_86188            1        1. Sandymount - O'Connell Street - Santry
1    4451_86109            4                 4. Monkstown Avenue - Harristown
2    4451_86107            6           6. Howth Dart Stn - Lower Abbey Street
3    4451_86151            7            7. Brides Glen Luas - Mountjoy Square
4    4451_86152           7A                  7A. Loughlinstown - Mountjoy Sq
..          ...          ...                                              ...
113  4451_86198          X27         X27. Salesian College - Aghards Rd - UCD
114  4451_86199          X28  X28. Salesian College - Celbridge Main St - UCD
115  4451_86200          X30                              X30. Dodsboro - UCD
116  4451_86201          X31            X31. River Forest - Earlsfort Terrace
117  4451_86202          X32                 X32. Leixlip - Earlsfort Terrace

[118 rows x 3 columns]

In [5]:
# This file will be used in 01_‚åö_StopTimesPerRoute.py and 02_üìç_BusLocator.py
# Construct the full path for the output file
output_file_path = os.path.join(output_dir, "Routes.txt")

# Optionally save the updated data to a new file
cleaned_routes.to_csv(output_file_path, index=False)

Data cleaning for 01_‚åö_StopTimesPerRoute.py.

## Towards.txt

In [6]:
# Read the trips.txt file
file_path_1 = "trips.txt"  # Replace with the actual path if needed
trips_df = pd.read_csv(file_path_1)
trips_df.head(30)

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id
0,4451_86188,247,4451_1,Shaw street,1801,0,4451_7778195_9001001,4451_1
1,4451_86188,247,4451_10,Shaw street,1849,0,4451_7778195_9001009,4451_1
2,4451_86188,248,4451_100,Shaw street,9452,0,4451_7778195_9001003,4451_1
3,4451_86184,247,4451_1000,Ashington,3615,1,4451_7778195_7122021,4451_33
4,4451_86139,235,4451_10000,Abbey St,16153,1,4451_7778195_5041002,4451_323
5,4451_86139,247,4451_10001,Abbey St,2633,1,4451_7778195_5041001,4451_324
6,4451_86139,248,4451_10002,Abbey St,10248,1,4451_7778195_5041002,4451_325
7,4451_86139,247,4451_10003,Abbey St,2469,1,4451_7778195_5041005,4451_323
8,4451_86139,247,4451_10004,Abbey St,2647,1,4451_7778195_5041003,4451_323
9,4451_86139,235,4451_10005,Abbey St,16309,1,4451_7778195_5041003,4451_323
10,4451_86139,248,4451_10006,Abbey St,9956,1,4451_7778195_5041003,4451_324
11,4451_86139,247,4451_10007,Abbey St,2752,1,4451_7778195_5041009,4451_323
12,4451_86139,247,4451_10008,Abbey St,2602,1,4451_7778195_5041007,4451_323
13,4451_86139,235,4451_10009,Abbey St,16599,1,4451_7778195_5041004,4451_323
14,4451_86184,248,4451_1001,Ashington,13145,1,4451_7778195_7122006,4451_33
15,4451_86139,247,4451_10010,Abbey St,2460,1,4451_7778195_5041013,4451_324
16,4451_86139,248,4451_10011,Abbey St,10044,1,4451_7778195_5041004,4451_325
17,4451_86139,247,4451_10012,Abbey St,2619,1,4451_7778195_5041010,4451_323
18,4451_86139,235,4451_10013,Abbey St,16173,1,4451_7778195_5041005,4451_323
19,4451_86139,247,4451_10014,Abbey St,2678,1,4451_7778195_5041017,4451_323
20,4451_86139,248,4451_10015,Abbey St,10165,1,4451_7778195_5041001,4451_323
21,4451_86139,247,4451_10016,Abbey St,2418,1,4451_7778195_5041018,4451_323
22,4451_86139,235,4451_10017,Abbey St,16346,1,4451_7778195_5041006,4451_324
23,4451_86139,248,4451_10018,Abbey St,10138,1,4451_7778195_5041007,4451_323
24,4451_86139,247,4451_10019,Abbey St,2360,1,4451_7778195_5041019,4451_323
25,4451_86184,247,4451_1002,Ashington,3432,1,4451_7778195_7122006,4451_33
26,4451_86139,235,4451_10020,Abbey St,16155,1,4451_7778195_5041002,4451_323
27,4451_86139,247,4451_10021,Abbey St,2635,1,4451_7778195_5041001,4451_323
28,4451_86139,248,4451_10022,Abbey St,9958,1,4451_7778195_5041003,4451_323
29,4451_86139,235,4451_10023,Abbey St,16311,1,4451_7778195_5041003,4451_323

In [7]:
trips_df

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id
0,4451_86188,247,4451_1,Shaw street,1801,0,4451_7778195_9001001,4451_1
1,4451_86188,247,4451_10,Shaw street,1849,0,4451_7778195_9001009,4451_1
2,4451_86188,248,4451_100,Shaw street,9452,0,4451_7778195_9001003,4451_1
3,4451_86184,247,4451_1000,Ashington,3615,1,4451_7778195_7122021,4451_33
4,4451_86139,235,4451_10000,Abbey St,16153,1,4451_7778195_5041002,4451_323
...,...,...,...,...,...,...,...,...
19317,4451_86139,247,4451_9995,Swords Manor,2615,0,4451_7778195_5041045,4451_321
19318,4451_86139,248,4451_9996,Swords Manor,10162,0,4451_7778195_5041032,4451_322
19319,4451_86139,235,4451_9997,Abbey St,16113,1,4451_7778195_5041001,4451_323
19320,4451_86139,247,4451_9998,Abbey St,2490,1,4451_7778195_5041002,4451_324
19321,4451_86139,248,4451_9999,Abbey St,10163,1,4451_7778195_5041001,4451_325

In [8]:
# Keep only the first occurrence of each distinct combination of route_id, trip_headsign, and direction_id
SelectDirection_df = trips_df[['route_id', 'trip_id', 'trip_headsign', 'direction_id']] \
    .drop_duplicates(subset=['route_id', 'trip_headsign', 'direction_id'], keep='first') \
    .sort_values(by='route_id')

SelectDirection_df
SelectDirection_df1 = SelectDirection_df.copy()

In [9]:
SelectDirection_df1=SelectDirection_df.copy()
SelectDirection_df

         route_id     trip_id       trip_headsign  direction_id
2437   4451_86107  4451_12191      Abbey St Lower             1
2374   4451_86107  4451_12134       Howth Station             0
13146  4451_86108    4451_444    O'Connell Street             0
12024  4451_86108    4451_343      Sandyford B.D.             0
13179  4451_86108    4451_447      St Pappin's Rd             1
...           ...         ...                 ...           ...
8763   4451_86223  4451_17886        River Forest             0
9041   4451_86224  4451_18135        River Forest             1
8981   4451_86224  4451_18081  Hazelhatch Station             0
9209   4451_86225  4451_18287        River Forest             1
9102   4451_86225  4451_18190  Hazelhatch Station             0

[289 rows x 4 columns]

In [10]:
display = SelectDirection_df[(SelectDirection_df["route_id"] == "4451_86113")]
display

         route_id    trip_id     trip_headsign  direction_id
14636  4451_86113  4451_5781  O'Connell Street             1
14384  4451_86113  4451_5554    Dublin Airport             1
14374  4451_86113  4451_5545  O'Connell Street             0
14136  4451_86113  4451_5330        Ballinteer             0

In [11]:
# Construct the full path for the output file
output_file_path1 = os.path.join(output_dir, "Towards.txt")

# Save the updated data to a new file
SelectDirection_df.to_csv(output_file_path1, index=False)  #Print this file into assets/data

## StopTimesPerTrip.txt

In [12]:
# Read the Routes.txt file
file_path_2 = "../data/Routes.txt"  
routes_df = pd.read_csv(file_path_2)

routes_df.head(100)

      route_id incoming_bus                                         route_name
0   4451_86188            1          1. Sandymount - O'Connell Street - Santry
1   4451_86109            4                   4. Monkstown Avenue - Harristown
2   4451_86107            6             6. Howth Dart Stn - Lower Abbey Street
3   4451_86151            7              7. Brides Glen Luas - Mountjoy Square
4   4451_86152           7A                    7A. Loughlinstown - Mountjoy Sq
..         ...          ...                                                ...
95  4451_86206           C4                            C4. Maynooth - Ringsend
96  4451_86208           C5              C5. Maynooth - Ringsend Night Service
97  4451_86207           C6  C6. Maynooth - Celbridge - Ringsend Night Service
98  4451_86209           G1                    G1. Red Cow LUAS - Spencer Dock
99  4451_86210           G2                G2. Liffey Valley SC - Spencer Dock

[100 rows x 3 columns]

In [13]:
# Merge route_name into trips_df based on route_id
trips_df = trips_df.merge(routes_df[["route_id", "route_name","incoming_bus"]], on='route_id', how='left')
# Organising trips_df
trips_df = trips_df[["trip_id","route_id","incoming_bus","route_name","trip_headsign","direction_id"]].copy()

trips_df.head(30)

,trip_id,route_id,incoming_bus,route_name,trip_headsign,direction_id
0,4451_1,4451_86188,1,1. Sandymount - O'Connell Street - Santry,Shaw street,0
1,4451_10,4451_86188,1,1. Sandymount - O'Connell Street - Santry,Shaw street,0
2,4451_100,4451_86188,1,1. Sandymount - O'Connell Street - Santry,Shaw street,0
3,4451_1000,4451_86184,122,122. Drimnagh - Ashington,Ashington,1
4,4451_10000,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
5,4451_10001,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
6,4451_10002,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
7,4451_10003,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
8,4451_10004,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
9,4451_10005,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
10,4451_10006,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
11,4451_10007,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
12,4451_10008,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
13,4451_10009,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
14,4451_1001,4451_86184,122,122. Drimnagh - Ashington,Ashington,1
15,4451_10010,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
16,4451_10011,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
17,4451_10012,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
18,4451_10013,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
19,4451_10014,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
20,4451_10015,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
21,4451_10016,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
22,4451_10017,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
23,4451_10018,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
24,4451_10019,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
25,4451_1002,4451_86184,122,122. Drimnagh - Ashington,Ashington,1
26,4451_10020,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
27,4451_10021,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
28,4451_10022,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1
29,4451_10023,4451_86139,41,41. Swords Manor - Lower Abbey Street,Abbey St,1

In [14]:
# Read the stop_times.txt file
file_path_3 = "stop_times.txt"  
stop_times_df = pd.read_csv(file_path_3)
stop_times_df1 = stop_times_df.copy()
stop_times_df.head(100)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,4451_1,06:30:00,06:30:00,8240DB000226,1,Shaw street,0,1,1
1,4451_1,06:31:04,06:31:04,8220DB000228,2,NaN,0,0,0
2,4451_1,06:31:59,06:31:59,8240DB000229,3,NaN,0,0,0
3,4451_1,06:33:25,06:33:25,8240DB000227,4,NaN,0,0,0
4,4451_1,06:34:21,06:34:21,8240DB000230,5,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...
95,4451_1000,16:28:56,16:28:56,8220DB001348,21,NaN,0,0,1
96,4451_1000,16:30:04,16:30:04,8220DB001349,22,NaN,0,0,0
97,4451_1000,16:31:20,16:31:20,8220DB001350,23,NaN,0,0,1
98,4451_1000,16:33:28,16:33:28,8220DB001352,24,NaN,0,0,0
99,4451_1000,16:34:27,16:34:27,8220DB001353,25,NaN,0,0,1

In [15]:
StopTimesPerTrip_df = stop_times_df[["trip_id","stop_id","arrival_time"]].copy()
StopTimesPerTrip_df

           trip_id       stop_id arrival_time
0           4451_1  8240DB000226     06:30:00
1           4451_1  8220DB000228     06:31:04
2           4451_1  8240DB000229     06:31:59
3           4451_1  8240DB000227     06:33:25
4           4451_1  8240DB000230     06:34:21
...            ...           ...          ...
1049962  4451_9999  8220DB000049     06:19:37
1049963  4451_9999  8220DB000051     06:20:55
1049964  4451_9999  8220DB000052     06:21:37
1049965  4451_9999  8220DB000277     06:25:02
1049966  4451_9999  8220DB000288     06:26:59

[1049967 rows x 3 columns]

In [16]:
StopTimesPerTrip_df.dtypes

trip_id         object
stop_id         object
arrival_time    object
dtype: object

In [17]:
# Construct the full path for the output file
output_file_path3 = os.path.join(output_dir, "StopTimesPerTrip.txt")

# Saving stop_times_per_route_df into StopTimesPerRoute.txt
StopTimesPerTrip_df.to_csv(output_file_path3, index=False) #Print this file into assets/data

## StopMapLocation.txt

In [18]:
SelectDirection_df1

         route_id     trip_id       trip_headsign  direction_id
2437   4451_86107  4451_12191      Abbey St Lower             1
2374   4451_86107  4451_12134       Howth Station             0
13146  4451_86108    4451_444    O'Connell Street             0
12024  4451_86108    4451_343      Sandyford B.D.             0
13179  4451_86108    4451_447      St Pappin's Rd             1
...           ...         ...                 ...           ...
8763   4451_86223  4451_17886        River Forest             0
9041   4451_86224  4451_18135        River Forest             1
8981   4451_86224  4451_18081  Hazelhatch Station             0
9209   4451_86225  4451_18287        River Forest             1
9102   4451_86225  4451_18190  Hazelhatch Station             0

[289 rows x 4 columns]

In [19]:
SelectDirection_df1["rout_dir_id_concat"] = (SelectDirection_df1["route_id"] + SelectDirection_df1["direction_id"].astype(str))
# Explicitly create a new DataFrame with only the required columns
SelectDirection_df1 = SelectDirection_df1[["trip_id", "route_id","direction_id", "rout_dir_id_concat"]].copy()

In [20]:
SelectDirection_df1

          trip_id    route_id  direction_id rout_dir_id_concat
2437   4451_12191  4451_86107             1        4451_861071
2374   4451_12134  4451_86107             0        4451_861070
13146    4451_444  4451_86108             0        4451_861080
12024    4451_343  4451_86108             0        4451_861080
13179    4451_447  4451_86108             1        4451_861081
...           ...         ...           ...                ...
8763   4451_17886  4451_86223             0        4451_862230
9041   4451_18135  4451_86224             1        4451_862241
8981   4451_18081  4451_86224             0        4451_862240
9209   4451_18287  4451_86225             1        4451_862251
9102   4451_18190  4451_86225             0        4451_862250

[289 rows x 4 columns]

In [21]:
SelectDirection_df1.dtypes

trip_id               object
route_id              object
direction_id           int64
rout_dir_id_concat    object
dtype: object

In [22]:
stop_times_df1

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,4451_1,06:30:00,06:30:00,8240DB000226,1,Shaw street,0,1,1
1,4451_1,06:31:04,06:31:04,8220DB000228,2,NaN,0,0,0
2,4451_1,06:31:59,06:31:59,8240DB000229,3,NaN,0,0,0
3,4451_1,06:33:25,06:33:25,8240DB000227,4,NaN,0,0,0
4,4451_1,06:34:21,06:34:21,8240DB000230,5,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...
1049962,4451_9999,06:19:37,06:19:37,8220DB000049,50,NaN,0,0,1
1049963,4451_9999,06:20:55,06:20:55,8220DB000051,51,NaN,0,0,0
1049964,4451_9999,06:21:37,06:21:37,8220DB000052,52,NaN,0,0,1
1049965,4451_9999,06:25:02,06:25:02,8220DB000277,53,NaN,0,0,1
1049966,4451_9999,06:26:59,06:26:59,8220DB000288,54,NaN,1,0,1

In [23]:
# Read the stop_times.txt file
file_path_4 = "stops.txt"  
stops_df = pd.read_csv(file_path_4)
stops_df["stop_full"] = (stops_df["stop_code"].astype(str) +' - '+stops_df["stop_name"])
stops_df.head(100)

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_full
0,822008203,8203,Visitor Centre,NaN,53.364690,-6.331670,NaN,NaN,NaN,NaN,8203 - Visitor Centre
1,822008204,8204,√Åras an Uachtar√°in,NaN,53.359690,-6.324560,NaN,NaN,NaN,NaN,8204 - √Åras an Uachtar√°in
2,822008205,8205,Dublin Zoo,NaN,53.351730,-6.305480,NaN,NaN,NaN,NaN,8205 - Dublin Zoo
3,822008206,8206,Park Gates,NaN,53.348840,-6.297770,NaN,NaN,NaN,NaN,8206 - Park Gates
4,822008208,8208,Park Gates,NaN,53.348720,-6.297920,NaN,NaN,NaN,NaN,8208 - Park Gates
...,...,...,...,...,...,...,...,...,...,...,...
95,8220DB000115,115,Ballymun Road Church,NaN,53.387964,-6.265036,NaN,NaN,NaN,NaN,115 - Ballymun Road Church
96,8220DB000116,116,Griffith Lawns,NaN,53.377693,-6.259667,NaN,NaN,NaN,NaN,116 - Griffith Lawns
97,8220DB000117,117,Walnut Rise,NaN,53.377366,-6.257546,NaN,NaN,NaN,NaN,117 - Walnut Rise
98,8220DB000118,118,Clare Road,NaN,53.376643,-6.253592,NaN,NaN,NaN,NaN,118 - Clare Road
99,8220DB000119,119,The Village,NaN,53.375190,-6.250766,NaN,NaN,NaN,NaN,119 - The Village

In [24]:
# Filter stop_times_df2 by trip_id in SelectDirection_df1
filtered_stop_times_df = stop_times_df1[stop_times_df1['trip_id'].isin(SelectDirection_df1['trip_id'])]

# Display the filtered DataFrame
filtered_stop_times_df

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,timepoint
0,4451_1,06:30:00,06:30:00,8240DB000226,1,Shaw street,0,1,1
1,4451_1,06:31:04,06:31:04,8220DB000228,2,NaN,0,0,0
2,4451_1,06:31:59,06:31:59,8240DB000229,3,NaN,0,0,0
3,4451_1,06:33:25,06:33:25,8240DB000227,4,NaN,0,0,0
4,4451_1,06:34:21,06:34:21,8240DB000230,5,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...
1040340,4451_9828,05:43:27,05:43:27,8240DB004912,47,NaN,0,0,0
1040341,4451_9828,05:43:58,05:43:58,8240DB004913,48,NaN,0,0,0
1040342,4451_9828,05:44:20,05:44:20,8240DB004914,49,NaN,0,0,0
1040343,4451_9828,05:44:46,05:44:46,8240DB004915,50,NaN,0,0,0
1040344,4451_9828,05:45:51,05:45:51,8240DB004957,51,NaN,1,0,1

In [25]:
StopByTrip_df=filtered_stop_times_df.copy()

In [26]:
# Explicitly create a new DataFrame with only the required columns
StopByTrip_df = StopByTrip_df[["trip_id", "stop_id","stop_sequence","stop_headsign","pickup_type","drop_off_type"]].copy()
# Renaming columns
StopByTrip_df.rename(columns={'pickup_type': 'trip_ends','drop_off_type': 'trip_starts'}, inplace=True)
StopByTrip_df

,trip_id,stop_id,stop_sequence,stop_headsign,trip_ends,trip_starts
0,4451_1,8240DB000226,1,Shaw street,0,1
1,4451_1,8220DB000228,2,NaN,0,0
2,4451_1,8240DB000229,3,NaN,0,0
3,4451_1,8240DB000227,4,NaN,0,0
4,4451_1,8240DB000230,5,NaN,0,0
...,...,...,...,...,...,...
1040340,4451_9828,8240DB004912,47,NaN,0,0
1040341,4451_9828,8240DB004913,48,NaN,0,0
1040342,4451_9828,8240DB004914,49,NaN,0,0
1040343,4451_9828,8240DB004915,50,NaN,0,0
1040344,4451_9828,8240DB004957,51,NaN,1,0

In [27]:
# Merge stop_times_df with the selected columns from stops_df on stop_id
StopByTrip_df = StopByTrip_df.merge(stops_df, on="stop_id", how="left")
StopByTrip_df = StopByTrip_df.merge(SelectDirection_df1, on="trip_id", how="left")
StopByTrip_df

,trip_id,stop_id,stop_sequence,stop_headsign,trip_ends,trip_starts,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_full,route_id,direction_id,rout_dir_id_concat
0,4451_1,8240DB000226,1,Shaw street,0,1,226,Shanard Avenue,NaN,53.391141,-6.262200,NaN,NaN,NaN,NaN,226 - Shanard Avenue,4451_86188,0,4451_861880
1,4451_1,8220DB000228,2,NaN,0,0,228,Shanliss Road,NaN,53.391877,-6.259720,NaN,NaN,NaN,NaN,228 - Shanliss Road,4451_86188,0,4451_861880
2,4451_1,8240DB000229,3,NaN,0,0,229,Oldtown Road,NaN,53.391400,-6.256536,NaN,NaN,NaN,NaN,229 - Oldtown Road,4451_86188,0,4451_861880
3,4451_1,8240DB000227,4,NaN,0,0,227,Shanliss Drive,NaN,53.391144,-6.251345,NaN,NaN,NaN,NaN,227 - Shanliss Drive,4451_86188,0,4451_861880
4,4451_1,8240DB000230,5,NaN,0,0,230,Shanowen Road,NaN,53.389888,-6.249066,NaN,NaN,NaN,NaN,230 - Shanowen Road,4451_86188,0,4451_861880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13862,4451_9828,8240DB004912,47,NaN,0,0,4912,Lioscian,NaN,53.464140,-6.239384,NaN,NaN,NaN,NaN,4912 - Lioscian,4451_86139,0,4451_861390
13863,4451_9828,8240DB004913,48,NaN,0,0,4913,St Cronan's Avenue,NaN,53.461619,-6.240347,NaN,NaN,NaN,NaN,4913 - St Cronan's Avenue,4451_86139,0,4451_861390
13864,4451_9828,8240DB004914,49,NaN,0,0,4914,Valley View,NaN,53.459852,-6.241790,NaN,NaN,NaN,NaN,4914 - Valley View,4451_86139,0,4451_861390
13865,4451_9828,8240DB004915,50,NaN,0,0,4915,Ormond Avenue,NaN,53.459863,-6.244997,NaN,NaN,NaN,NaN,4915 - Ormond Avenue,4451_86139,0,4451_861390
13866,4451_9828,8240DB004957,51,NaN,1,0,4957,Abbeyvale,NaN,53.459626,-6.250911,NaN,NaN,NaN,NaN,4957 - Abbeyvale,4451_86139,0,4451_861390

In [28]:
StopByTrip_df.rename(columns={'rout_dir_id_concat': 'concat'}, inplace=True)

In [29]:
StopByTrip_df = StopByTrip_df[["route_id","trip_id","direction_id","concat","stop_id","stop_code", "stop_name","stop_full","stop_headsign","stop_sequence",
                              "stop_lat","stop_lon","trip_starts","trip_ends"]].copy()

In [30]:
StopByTrip_df

,route_id,trip_id,direction_id,concat,stop_id,stop_code,stop_name,stop_full,stop_headsign,stop_sequence,stop_lat,stop_lon,trip_starts,trip_ends
0,4451_86188,4451_1,0,4451_861880,8240DB000226,226,Shanard Avenue,226 - Shanard Avenue,Shaw street,1,53.391141,-6.262200,1,0
1,4451_86188,4451_1,0,4451_861880,8220DB000228,228,Shanliss Road,228 - Shanliss Road,NaN,2,53.391877,-6.259720,0,0
2,4451_86188,4451_1,0,4451_861880,8240DB000229,229,Oldtown Road,229 - Oldtown Road,NaN,3,53.391400,-6.256536,0,0
3,4451_86188,4451_1,0,4451_861880,8240DB000227,227,Shanliss Drive,227 - Shanliss Drive,NaN,4,53.391144,-6.251345,0,0
4,4451_86188,4451_1,0,4451_861880,8240DB000230,230,Shanowen Road,230 - Shanowen Road,NaN,5,53.389888,-6.249066,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13862,4451_86139,4451_9828,0,4451_861390,8240DB004912,4912,Lioscian,4912 - Lioscian,NaN,47,53.464140,-6.239384,0,0
13863,4451_86139,4451_9828,0,4451_861390,8240DB004913,4913,St Cronan's Avenue,4913 - St Cronan's Avenue,NaN,48,53.461619,-6.240347,0,0
13864,4451_86139,4451_9828,0,4451_861390,8240DB004914,4914,Valley View,4914 - Valley View,NaN,49,53.459852,-6.241790,0,0
13865,4451_86139,4451_9828,0,4451_861390,8240DB004915,4915,Ormond Avenue,4915 - Ormond Avenue,NaN,50,53.459863,-6.244997,0,0
13866,4451_86139,4451_9828,0,4451_861390,8240DB004957,4957,Abbeyvale,4957 - Abbeyvale,NaN,51,53.459626,-6.250911,0,1

In [31]:
# Construct the full path for the output file
output_file_path4 = os.path.join(output_dir, "StopMapLocation.txt")

# Saving stop_times_per_route_df into StopTimesPerRoute.txt
StopByTrip_df.to_csv(output_file_path4, index=False) #Print this file into assets/data